<%= form_for [@language, @slide] do |f| %>
  <div class="form-group">
    <%= f.label :target_script, @language.title %>
    <%= f.text_field :target_script, class: 'form-control form-control-lg' %>
  </div>
  <div class="form-group">
    <%= f.label :english_latin, 'English' %>
    <%= f.text_field :english_latin, class: 'form-control form-control-lg' %>
  </div>
  <br>
  <% if action_name == 'new' %>
    <%= submit_tag 'Create', type: 'submit', class: "btn btn-primary" %>
    <%= link_to 'Slides', language_slides_path(@language), class: 'btn btn-secondary', role: 'button', "aria-pressed" => 'true' %>
  <% elsif action_name == 'edit' %>
    <%= submit_tag 'Update', type: 'submit', class: "btn btn-primary" %>
    <%= link_to 'Back', language_slide_path(@language, @slide), class: 'btn btn-secondary', role: 'button', "aria-pressed" => 'true' %>
  <% end %>
<% end %>
