<%= form_for @slide do |f| %>
  <div class="form-group">
    <%= f.label :maltese_latin, 'Maltese' %>
    <%= f.text_field :maltese_latin, class: 'form-control form-control-lg' %>
  </div>
  <div class="form-group">
    <%= f.label :english_latin, 'English' %>
    <%= f.text_field :english_latin, class: 'form-control form-control-lg' %>
  </div>
  <br>
  <% if action_name == 'new' %>
    <%= submit_tag 'Create', type: 'submit', class: "btn btn-primary" %>
    <%= link_to 'Home', root_path, class: 'btn btn-secondary', role: 'button', "aria-pressed" => 'true' %>
  <% elsif action_name == 'edit' %>
    <%= submit_tag 'Update', type: 'submit', class: "btn btn-primary" %>
    <%= link_to 'Back', slide_path(@slide), class: 'btn btn-secondary', role: 'button', "aria-pressed" => 'true' %>
  <% end %>
<% end %>
