<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= @language.title %></th>
      <th scope="col">Phonetic</th>
      <th scope="col">English</th>
    </tr>
  </thead>
  <tbody>
    <%- @slides.each do |slide| %>
      <tr>
        <th scope="row"><%= link_to slide.id, language_slide_path(@language, slide) %></th>
        <td><%= slide.target_script %></td>
        <td><%= slide.target_ipa %></td>
        <td><%= slide.english_latin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
