<%= form_for @language do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name, class: 'form-control form-control-lg' %>
  </div>
  <div class="form-group">
    <%= f.label :iso_639_1, 'ISO 639-1' %>
    <%= f.text_field :iso_639_1, class: 'form-control form-control-lg' %>
  </div>
  <div class="form-group">
    <%= f.submit type: 'submit', class: "btn btn-primary" %>
    <%= link_to 'All Languages', root_path, class: 'btn btn-secondary', role: 'button', "aria-pressed" => 'true' %>
  </div>
<% end %>
