<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{ yield(:title).presence } | Scroll" %>
    </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <header>
      <% flash.each do |type, msg| %>
        <p class="alert alert-success <%= type %>" role="alert" >
          <%= msg %>
        </p>
      <% end %>
    </header>
    <%= yield %>
    <footer></footer>
  </body>
</html>
